<div class="card #e8f5e9 green lighten-5">
  <div class="card-content black-text">
    <div class="card-title black-text">
    	{{#unless model.id}}
    		Create User:
    	{{else}}
    	  Edit User: 
    	{{/unless}}
    </div>
    <div class="component-type">
    	Form
    </div>
    <form>
    	{{form-field label='name' value=model.name model=model}}
		  {{form-field label='email' value=model.email model=model}}
		  {{#unless model.id}}
		    {{form-field label='password' value=model.password model=model}}
		  {{/unless}}
		  {{form-field label='company' value=model.company model=model}}
		  {{form-field label='sector' value=model.sector model=model}}
		  {{form-field label='customers' value=model.customers model=model}}
		  {{form-field label='revenue' value=model.revenue model=model}}
		  <div class="input-field">
			  {{textarea type="text" value=model.company_description class="materialize-textarea validate" id="exampleInputCompanyDescription1"}}
			  <label for="exampleInputCompanyDescription1" class="{{if model.name 'active'}}">Company Description</label>
			</div>
		  <p>
		  	{{input type="checkbox" checked=model.investor_funded id='check'}} 
		    <label for='check'>Investor Funded:</label>
		  </p>
		  <br>
		  <div class="card-action">
		  {{#unless model.id}}
		  	{{#unless (v-get model "isInvalid")}}
		  	  <div style="text-align: center;">
				  	<button type='submit' value='Create' class="waves-effect waves-light btn" {{action 'createUser'}} style="width: 100%;">Create</button>
				  </div>
		  	{{/unless}}
		  {{else}}
		  	{{#if model.hasDirtyAttributes}}
			  	<div style="text-align: center;">
			    	<button type='submit' class="btn btn-default" {{action 'saveChanges'}} style="width: 100%;">Save Changes</button>
			    </div>
			  {{/if}}
		  {{/unless}}
		  </div>
		</form>
		  {{#unless model.id}}
		  <div style="text-align: center;">
				<button class="waves-effect waves-light btn red" {{action "cancelCreate"}} style="width: 90%;">Cancel</button>
			</div>
			{{else}}
		  <div style="text-align: center;">
				<button class="waves-effect waves-light btn red" {{action "cancelEdit"}} style="width: 90%;">Cancel</button>
			</div>
			{{/unless}}
		  
  </div>
</div>
